<!-- web.config -->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Configuración del Reverse Proxy a PM2 -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyToPM2" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- Permite que IIS pueda leer el HTML de actualización sin mandarlo a PM2 -->
            <add input="{REQUEST_URI}" pattern="^/public/updating\.html$" negate="true" />
          </conditions>
          <!-- Si tu puerto de PM2 es distinto a 3000, cámbialo aquí abajo -->
             <action type="Rewrite" url="http://localhost:14987/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Intercepción elegante de caída (PM2 Apagado/Building) -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <!-- Capturamos Error 502 (Bad Gateway), que es el que IIS lanza cuando no encuentra a PM2 -->
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="502" path="/public/updating.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>